# 导入文件

In [48]:
import pandas as pd
import pathlib
base_path = pathlib.Path(r"E:\张楠\2023赵益华927\银行\天津银行\滨监查询（2023）05217号.xls")
output_dir_path = pathlib.Path(r"E:\张楠\测试\output")
excel_file = pd.ExcelFile(base_path)
excel_file.sheet_names

['Sheet1', 'Sheet2', 'Sheet3']

In [2]:
import yaml
with open('config.yaml', 'r', encoding='utf-8') as f:
    CONF_DATA = yaml.load(f, Loader=yaml.SafeLoader)

# 自定义函数及测试

In [52]:
%run corelibs.py

In [53]:
df = parse_sheet_general(excel_file,0,CONF_DATA['天津银行']['流水'])
df

,日期,时间,我方中文名称,我行账号（卡号）,用途（摘要）,币种,交易金额,余额,受理机构名称,对方账号（卡号）,...,网银IP地址,我方银行名称,对方银行机构代码,受理机构代码,借贷标志,身份证号,流水号,交易代码（交易渠道）,代码描述,交易是否成功
0,2015-02-09,00:00:00,楼美良,588001013102880110,批开,CNY,6545.75,6545.75,NaN,NaN,...,NaN,天津银行河东支行,NaN,NaN,贷,330724196610141314,89,NaN,NaN,Y
1,2015-03-11,00:00:00,楼美良,588001013102880110,工资,CNY,6545.75,13091.50,NaN,NaN,...,NaN,天津银行河东支行,NaN,NaN,贷,330724196610141314,327062,NaN,NaN,Y
2,2015-03-21,00:00:00,楼美良,588001013102880110,结息,CNY,3.82,13095.32,NaN,NaN,...,NaN,天津银行河东支行,NaN,NaN,贷,330724196610141314,374302,NaN,NaN,Y
3,2015-03-26,00:00:00,楼美良,588001013102880110,现支,CNY,13000.00,95.32,NaN,NaN,...,NaN,天津银行河东支行,NaN,NaN,借,330724196610141314,150169,NaN,NaN,Y
4,2015-04-11,00:00:00,楼美良,588001013102880110,工资,CNY,6545.75,6641.07,NaN,NaN,...,NaN,天津银行河东支行,NaN,NaN,贷,330724196610141314,316620,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13157,2022-12-21,00:13:32,郑民强,568001013100571312,结息,CNY,.01,13.53,天津银行滨海分行营业部,9568012600400001,...,NaN,天津银行滨海分行营业部,568101,568001,贷,330225197502210312,CBS152212200000021153133,NaN,NaN,N
13158,2023-03-21,00:15:25,郑民强,568001013100571312,结息,CNY,.01,13.54,天津银行滨海分行营业部,9568012600400001,...,NaN,天津银行滨海分行营业部,568101,568001,贷,330225197502210312,CBS152303200000022410601,NaN,NaN,N
13159,2023-03-21,00:15:55,郑民强,038001013101684770,结息,CNY,.01,12.00,天津银行开发区支行,9038012600400001,...,NaN,天津银行开发区支行,038101,038001,贷,330225197502210312,CBS152303200000023001578,NaN,NaN,N
13160,2023-06-21,00:26:51,郑民强,038001013101684770,结息,CNY,.01,12.01,天津银行开发区支行,9038012600400001,...,NaN,天津银行开发区支行,038101,038001,贷,330225197502210312,CBS152306200000024199636,NaN,NaN,N
13161,2023-06-21,00:28:47,郑民强,568001013100571312,结息,CNY,.01,13.55,天津银行滨海分行营业部,9568012600400001,...,NaN,天津银行滨海分行营业部,568101,568001,贷,330225197502210312,CBS152306200000025907490,NaN,NaN,N

In [48]:
save_accounts(df, output_dir_path, '天津银行')

In [20]:
verify_data(df, CONF_DATA['天津银行']['账户']['verify_cols'])

False

# 执行

In [ ]:
df = excel_file.parse(sheet_name=0, header=0, skiprows=0, dtype=str)
df

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13162 entries, 0 to 13161
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   我行账号（卡号）    13162 non-null  object
 1   我方银行名称      13162 non-null  object
 2   我方中文名称      13162 non-null  object
 3   身份证号        13162 non-null  object
 4   交易日期        13162 non-null  object
 5   对方账号（卡号）    12376 non-null  object
 6   对方中文名称      12369 non-null  object
 7   对方银行名称      10565 non-null  object
 8   对方银行机构代码    10565 non-null  object
 9   流水号         13162 non-null  object
 10  借贷标志        13162 non-null  object
 11  交易金额        13162 non-null  object
 12  币种          13162 non-null  object
 13  余额          13162 non-null  object
 14  网银IP地址      203 non-null    object
 15  交易代码（交易渠道）  8841 non-null   object
 16  代码描述        0 non-null      object
 17  用途（摘要）      13161 non-null  object
 18  受理机构代码      9123 non-null   object
 19  受理机构名称      9123 non-null   object
 20  交易是否成功      13162 non-null  object
dtypes: object(21)
memory usage: 2.1+ MB

# 杂项

In [25]:
base_path

WindowsPath('E:/张楠/2023赵益华927/银行/天津银行/滨监查询（2023）05217.xls')

In [26]:
base_path.with_suffix('.hahah')

WindowsPath('E:/张楠/2023赵益华927/银行/天津银行/滨监查询（2023）05217.hahah')

In [ ]:
CONF_DATA

In [36]:
type('')

str

In [ ]:
import dtale as dt
dt.show(dd, open_browser=True)

In [ ]:
df.dtypes